<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp | BetterUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'regis/my-login.css' %}" />
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Register</h4>
                            <form method="POST" class="my-login-validation" novalidate="">
                                {% csrf_token %}
                                
                                <!-- Username Field -->
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" name="username" required autofocus value="{{ form.username.value }}">
                                    {% if form.username.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Email Field (custom) -->
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" name="email" required value="{{ form.email.value }}">
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Password Field -->
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <input id="password1" type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" name="password1" required data-eye>
                                    {% if form.password1.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password1.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Confirm Password Field -->
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input id="password2" type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" name="password2" required data-eye>
                                    {% if form.password2.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password2.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Agree to Terms -->
                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="agree" id="agree" class="custom-control-input" required>
                                        <label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
                                        {% if form.agree.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.agree.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Register
                                    </button>
                                </div>

                                <div class="mt-4 text-center">
                                    Already have an account? <a href="{% url 'login' %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2024 &mdash; Santi Noviyanti
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/my-login.js"></script>
</body>
</html>
